.dashBoardButtons:hover {
    /* -fx-background-color: #54687d; */
    -fx-background-color: #5c6166;
  }
  
  .dashBoardButtons{
    -fx-background-color: #2c3136;
  }
  
  .dashBoardButtons:active{
    -fx-background-color: black;
  }
  