.dashBoardButtons {
  -fx-background-color: #2c3136;
}

.dashBoardButtons:active {
  -fx-background-color: black;
}

.dashBoardButtons:hover {
  /* -fx-background-color: #54687d; */
  -fx-background-color: #5c6166;
}

.numOfTickEditingButtons {
  -fx-border-radius: 14px;
  -fx-background-radius:30px;
  -fx-border-color: #343aeb;
  -fx-background-color: #ffffff;
}

.numOfTickEditingButtons:hover{
  -fx-background-color: #6a5acd;
}
.printButton{
  -fx-background-color: #d11b1b;
}
.printButton:hover{
  -fx-background-color: #ff4d47;
}
.searchFuncButton{
  -fx-background-color: #4287f5;
}
.searchFuncButton:hover{
  -fx-background-color: #2fb0ff;
}
